// Project Defaults
* {
	box-sizing: border-box;

	&:before,
	&:after {
		box-sizing: border-box;
	}
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	margin: 0;
}

@for $i from 1 through 6 {
	h#{$i} {
		margin: 0;
	}
}

p {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

img,
svg {
	vertical-align: middle;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

input {
	width: 100%;
}

button {
	-webkit-appearance: none;
	background: none;
	border: 0;
	font-family: inherit;
	font-size: inherit;
	vertical-align: middle;
	padding: 0;
	color: inherit;

	&:focus {
		outline: none;
	}
}
